<div class="container">
  
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email Id</th>
          <th scope="col">Ph.Number</th>
          <th scope="col">Location</th>
          <th scope="col">Alter</th>
          <th scope="col">Erase</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <th>000</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>789465123</td>
          <td>Bengaluru</td>
          <td><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="add" >Edit</button></td>
          <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="add" >Delete</button></td>
        </tr>
      </tbody>
    </table>
  
</div>









  
  